/* Project One Page
Author: Elif Yurtkuran
Date: 14/June/2023
Version: v1 */

/*####################*/
/* Root */
:root{
    --templateBgColor:rgb(43, 43, 43);

}

/*####################*/
/* Common Property */
*{
    margin: 0;
    padding: 0px;
    box-sizing:border-box ;
}

html{
    font-size: 20px;
}

body{
    font-family: 'Ubuntu Condensed', sans-serif;
    line-height: 1.2;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img{
    max-width: 100%;
    height: auto;
}

img:hover{
    opacity: 0.9;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.8);
    transition: 3s all;
    cursor: pointer;
}

i {
    font-size: 1.5rem; /* 15*1*/
}

p{
    color: black!important;
}
.myclearfix::after{
    content: "";
    display: block;
    clear: both;
}
.myHeading {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 02rem;
    text-transform: uppercase;
    text-shadow: 0.4px -0.9px rgba(0,0,0,0.9);
    opacity: 0.8;
}
/* my special size*/
.fSize1 {
    font-size: 1rem; /* 15*1 */
}
.fSize2 {
    font-size: 2rem; /* 15*1 */
}
.fSize3 {
    font-size: 3rem; /* 15*1 */
}
.fSize4 {
    font-size: 4rem; /* 15*1 */
}

/* line clamp */
.line-clamp4{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    overflow: hidden;
    
}
.line-clamp8{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    overflow: hidden;
    
}
.line-clamp10{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    display: -webkit-box;
    overflow: hidden;
    
}
.line-clamp20{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 20;
    display: -webkit-box;
    overflow: hidden;
    
}
/*##################*/

/*Navbar*/
.dark_mode{
    background-color: var(--templateBgColor);
    color: #ffffff;
}


/*header*/

header {
background-image: url("./img/header.jpeg");
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
z-index: -1;
height:80vh;
padding-top:4rem;
}

/*messages*/

#messages{
    margin-top: 3rem;
    margin-bottom: 3rem;

}
#messages > h4,p{
    color: black!important;
}

#messages i{
    color: blue;
    font-size: 5rem;
}

/*parallax*/
#parallax {background-color: transparent;
background-image: url('./img/parallax2.webp');
background-size: cover;
height: 35rem;
padding: 2rem;
background-repeat: no-repeat;
background-attachment: fixed;
}

#parallax h2,p{
    color: rgb(27, 20, 20);
}

/*newspaperx*/
#newspaper {
    height: 35rem;
    padding: 2rem;
    background-color: transparent;
    background-size: cover;
    height: 35rem;
    padding: 2rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    }
    
    #newspaper h2,p{
        color: rgb(0, 0, 0);

    }

/*blog*/
#blog {
    background-color: rgba(75, 116, 86, 0.264);
}

/*contact*/
#contact {background-color: transparent;
    height: 35rem;
    padding: 2rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    

/*footer*/

footer {min-height: 10rem;
    width: auto;
    color: #ffffff;
}

/*back top*/
#back_top {
    position: fixed;
    right: 0;
    bottom: 0;
}
#back_top:hover{
    opacity: 0.8;
}
    
